body{
    background-color: lightblue;
}

h1 {
    font-size: 64px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}
h2{
    font-size: 30px;
    font-family:Arial;
    font-weight: bold;
    line-height:2vw;

}
#paragraph2{
    background-color:white;
    line-height: 1.5em;
    text-align:justify;
    border-style:solid;
    border-color:green;
    border-width:5px;
    padding:1.4vw;
    margin-left:20px;
    margin-right:40vw;
    
    
}
.blue{
    background-color:darkblue;
    color:white;
    border-style:solid;
    border-color:black;
    padding:15px;
    border-width:1px;
}

a[target="_blank"] {
    color:red;
}


ol{
    line-height:20px;
    list-style-type: decimal-leading-zero;
}
ol a{
    color:darkblue;
    font-size:18px;
}

ol li::marker{
    font-size: 1.5em;
}

table {
    border: solid;
    border-color:black;
    border-collapse: collapse;
    border-width: 1px;
}

table th,
table td {
    border: solid;
    border-color:black;
    padding: 10px;
    background-color:white;
    border-width: 1px;
}
table th{
    background-color:rgb(189, 188, 188);

    padding:1px;}


